pipeline/Busqueda de datos.json
{
	"name": "Busqueda de datos",
	"properties": {
		"activities": [
			{
				"name": "LookUp Lego",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "LegoConfigurationFile",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookUp Lego",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "HTTP_to_ADLS_Pipeline_Param",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FileNameHTTP": {
							"value": "@activity('LookUp Lego').output.firstRow.SourceFileName",
							"type": "Expression"
						},
						"FileNameADLS": {
							"value": "@activity('LookUp Lego').output.firstRow.SourceFileName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}